<style>
  .flex-container {
    display: flex;
  }

  .flex-item {
    margin: 10px;
    flex: 1;
  }

  h1 {
    background-color: aqua;
  }
</style>

<div class="flex-container">
  <div class="flex-item">
    <h1>Binding</h1>
    <app-1_binding-direktiven></app-1_binding-direktiven>
  </div>
  <div class="flex-item">
    <h1>Struktur Direktiven</h1>
    <app-2_struktur-direktiven></app-2_struktur-direktiven>
  </div>
  <div class="flex-item">
    <h1>Komponenten Kommunikation</h1>
    <app-parent></app-parent>
  </div>
</div>
